.SkillName
{
    text-align: center;
}

.SkillWriteup
{
    text-align: center;
}

 /* img
{
    height: 10vh;
    width: 80px;
    margin-left:8vh;
}  */
img {
    height: 55px;
    width: 40px;
}


/* .Box{
    
    background-color:white;

    padding-left:  5px;
    margin: 15px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    
}
 */
